<div class="row justify-content-center">
  <div class="restaurant-data d-flex flex-column" *ngIf="restaurants">
    <div *ngIf="restaurants.image">
      <img
        class="restaurant-image"
        mat-card-image
        [src]="convertImage(restaurants.image)"
        (click)="openFile(restaurants.image, restaurants.imageContentType)"
        alt="Photo of the restaurant"
      />
    </div>
    <h2 data-cy="restaurantsDetailsHeading">
      <span>{{ restaurants.name }}</span>
    </h2>

    <hr />

    <dl class="row-md jh-entity-details">
      <dt><span jhiTranslate="restaurantReservationApp.restaurants.location">Location</span></dt>
      <dd>
        <span>{{ restaurants.location }}</span>
      </dd>
      <dt><span jhiTranslate="restaurantReservationApp.restaurants.description">Description</span></dt>
      <dd>
        <span>{{ restaurants.description }}</span>
      </dd>
      <dt><span jhiTranslate="restaurantReservationApp.restaurants.mese">Mese</span></dt>
      <dd>
        <div *ngIf="restaurants.mese">
          <a [routerLink]="['/mese', restaurants.mese?.id, 'view']">{{ restaurants.mese?.id }}</a>
        </div>
      </dd>
    </dl>

    <button type="submit" (click)="reserveTable()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <span jhiTranslate="entity.action.reserve">Reserve</span>
    </button>

    <button type="button" [routerLink]="['/restaurants', restaurants.id, 'edit']" class="btn btn-primary">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
</div>
