<div>
  <h2 id="page-heading" data-cy="RestaurantsHeading">
    <span jhiTranslate="restaurantReservationApp.restaurants.home.title">Restaurants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="restaurantReservationApp.restaurants.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-restaurants"
        [routerLink]="['/restaurants/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="restaurantReservationApp.restaurants.home.createLabel"> Create a new Restaurants </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="restaurants?.length === 0">
    <span jhiTranslate="restaurantReservationApp.restaurants.home.notFound">No restaurants found</span>
  </div>

  <div id="entities" *ngIf="restaurants && restaurants.length > 0">
    <!--    <form class="example-form">-->
    <!--      <mat-form-field class="example-full-width" appearance="fill">-->
    <!--        <mat-label>Favorite food</mat-label>-->
    <!--        <input matInput placeholder="Ex. Pizza" value="Sushi" />-->
    <!--      </mat-form-field>-->
    <!--    </form>-->

    <div class="restaurant-container">
      <mat-card
        class="restaurant-item"
        *ngFor="let restaurant of restaurants; trackBy: trackId"
        data-cy="entityTable"
        [routerLink]="['/restaurants', restaurant.id, 'view']"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="restaurant-name">{{ restaurant.name }}</mat-card-title>
        </mat-card-header>
        <img class="restaurant-image" mat-card-image [src]="convertImage(restaurant.image)" alt="Photo of the restaurant" />
        <mat-card-content>
          <p>
            {{ restaurant.description }}
          </p>
        </mat-card-content>
        <mat-card-actions class="reserve-button">
          <button mat-button jhiTranslate="restaurantReservationApp.restaurants.home.reserve" (click)="convertImage(restaurant.image)">
            RESERVE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div *ngIf="restaurants && restaurants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
